extends layout

block content
    div.container
        br
        br.hidden-xs
        br.hidden-xs
        br.hidden-xs
        div.row
            div.visible-lg.col-lg-1.col-lg-1-5
            div.col-xs-12.col-lg-5.col-lg-offset-3.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
                div.indexsquare
                    br
                    div.title-logo huh?
                    br
                    br
                    form.form-inline#interested(target="_self",action="javascript: postIndexForm()",role="form")
                        div.form-group
                            input.input-lg.form-control#email(type="email",name="email",placeholder="e-mail address",required="required")
                        button.btn.btn-primary.btn-lg.btn-bold(type="submit")  LET'S ROCK!
                    div#spinner.lead.invisible.hide
                        i.fa.fa-refresh.fa-spin
                    div#thanks.lead.invisible.hide
                        i.fa.fa-check-circle
                        span  Thank You!
                    br


